@inherits LayoutComponentBase

<div class="w3-sidebar w3-bar-block w3-blue" >
  <a href="#" class="w3-bar-item w3-button">Home</a>
  <a href="counter" class="w3-bar-item w3-button">Counter</a>
  <a href="fetchdata" class="w3-bar-item w3-button">Fetch data</a>
</div>

<div class="w3-main" style="margin-left: 91px; padding-top: 0px;">
    <div class="w3-content">
        @Body
    </div>
</div>


